body {
  margin: 0;
  padding: 120px 50px;
  font-family: sans-serif;
}
.react-count-down {
    margin: 0;
    padding-top: 4em;
}

.prefix {
	font-size: 32px;
  font-weight: 200;
  line-height: 1.5;
  color: #f39f1b;
}

.react-count-down .date {
  font-size: 48px;
  font-weight: 200;
  line-height: 1.5;
  color: #414042;
}

.logo--small {
  width: 290px;
  height: 58px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-image: url("https://assets.aftership.com/img/logo-aftership.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
	box-sizing: border-box;
}
